@import '~nativescript-theme-core/scss/light';
// $primary: #900;
@import '~nativescript-theme-core/scss/index';


// common styles of timy app
@import 'vars';
@import 'animations';

.fa {
  font-family: "FontAwesome";
}

.todayHead { 
  background: $themeColor; 
  color: #fff;
}

.btn {
  border-width: 1;
  border-style: solid;
  border-color: #999; 
  border-radius: 5;
  background: #eee;
  color: $themeColor;
  &.btnInfo { 
    background: $themeColorInfo;
    border-color: rgba(255,255,255,0.8);
    color: #fff;
  }
}

.todoItem {
  &.completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

// arrow-label to expand the block and rotate follwoing the status
.arrowExpand {
  &.expand {
    animation-duration: $animationSpeed;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: rotate180;
  }
}