@import '../../../styles/vars';

.timeSpan {
  width: 32;
  height: 12;
  border-color: #333;
  border-width: 1;
  margin: 10 5 10 0;
}
.timeSpanValue {
  background: $themeColorInfo;
  border-width: 1;
  border-color: #fff;
}


.timeSpanWrapper {

  // style compact
  &.compact {
    .timeSpan {
      width: 16;
      height: 10;
      margin: 5 3 5 0;
    }
    .timeSpanValue {
      border-width: 0;
    }
  }

  // light
  &.light {
    .timeSpan {
      border-color: rgba(255,255,255,0.7);
    }
    .timeSpanValue {
      background: $themeColorInfo;
      // background: rgba(255,255,255,0.5);
      // border-color: $themeColor;
    }
  }
}



