
<ScrollView>
    
  <StackLayout>  

      <!-- today -->
      <StackLayout class="todayHead">
        <today-overview></today-overview>
        <today-time-spans></today-time-spans>
      </StackLayout>
      <StackLayout class="listItemContainer">
        <StackLayout 
          *ngFor="let item of scheduledTodos.today" 
          class="listItem todoItem" 
          [class.completed]='item.complete' 
          [class.isActive]="item.id === selectedTodo"
          >
          <GridLayout rows="auto, auto" columns="*, 40">
              <StackLayout row="0" col="0" [nsRouterLink]="['../item', item.id]" >       
                <Label [text]="item.title" ></Label> 
                <StackLayout class="currentSpans">
                  <time-span [spans]="item.timespans" [style]="''"></time-span>
                </StackLayout>
              </StackLayout>
              <StackLayout row="0" col="1" (tap)="openQuickUpdate(item.id)" >
                <Label text="&#xf107;" class="expanderLabel fa text-center"></Label>
              </StackLayout>
              <StackLayout row="1" colSpan="2" class="quickUpdate">
                <GridLayout rows="*" columns="40, *, 40" class="updatedSpans">
                    <Label row="0" col="0" class="updateSpan less" text="-"></Label>
                    <StackLayout row="0" col="1">
                      <time-span [spans]="item.timespans" [style]="''"></time-span>
                    </StackLayout>
                    <Label row="0" col="2" class="updateSpan more" text="+"></Label>
                </GridLayout>
                <GridLayout rows="" columns="*, auto">
                  <Label col="0" text="[] No breaks"></Label>
                  <Label col="1" text="Estimated time: ~0.50h"></Label>
                </GridLayout>
              </StackLayout>
          </GridLayout>
        </StackLayout>
      </StackLayout>
    
     
      <StackLayout class="dateHeader">
        <Label text="Tomorrow" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="listItemContainer">
          <StackLayout 
            *ngFor="let item of scheduledTodos.tomorrow" 
            class="listItem todoItem" 
            [class.completed]='item.complete' 
            [nsRouterLink]="['../item', item.id]" >
              <Label [text]="item.title" ></Label> 
              <time-span [spans]="item.timespans" [style]="''"></time-span>
          </StackLayout>
      </StackLayout>

      <StackLayout class="dateHeader">
          <Label text="Some day" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="listItemContainer">
          <StackLayout 
            *ngFor="let item of scheduledTodos.someday" 
            class="listItem todoItem" 
            [class.completed]='item.complete' 
            [nsRouterLink]="['../item', item.id]" >
              <Label [text]="item.title" ></Label> 
              <time-span [spans]="item.timespans" [style]="''"></time-span>
          </StackLayout>
      </StackLayout>
    
  </StackLayout>

</ScrollView>




<!-- TODO transfer into ListView -->
<!-- <GridLayout class="listOflistItems page" rows="*" columns="*" height="100%">
  <ListView row="0" [items]="scheduledTodos.tomorrow" >
    <ng-template let-item="item">
      <StackLayout class="listItem" background="#aaa">
        <Label [text]="item.title" class=""></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout> -->





        



