@import '../../styles/vars';

.listItem {
  padding: 10;
  border-bottom-width: 1;
  border-bottom-color: #ccc;
}

.isActive {
  background: $lightGrey;
  .currentSpans { visibility: collapsed; }
  .quickUpdate { 
    visibility: visible; 
  }
}

.dateHeader {
  background: $themeColor;
  color: #fff;
  font-size: 24;
  padding: 10;
}

.quickUpdate {
  visibility: collapsed;
  padding: 10
}

.updatedSpans { margin: 10 0; }
.updateSpan {
  background: #333;
  color: #fff;
  font-size: 32;
  text-align: center;
  line-height: 1;
  width: 40;
  height: 40;
  padding: 0;
  &.more { 
    margin-left: 20;
    border-radius: 16 3 3 16;
  }
  &.less { 
    margin-right: 20; 
    border-radius: 3 16 16 3;
  }
}