@import '../../styles/vars';

.page-today {
  background: #fff;
}

.headingMenu {
  padding: $pagePadding;
  margin-bottom: 10;
  background: #333;
  border-bottom-width: 1;
  border-bottom-style: solid;
  border-bottom-color: #fff; 
}

.layoutTop {
  background-color: $themeColor;
  color: #fff;
}

.layoutBottom {
  background: #eee;
}

.topExpander {
  background: #fff;
  .expanderLabel {
    background: $themeColor;
    text-align: center;
    color: #fff;
    height: 20;
    margin-bottom: 10;
  }
}

.btn {
  font-size: 24;
}

.listTodayTodos {
  .todayItem {
    padding: 10 $pagePadding;
    border-bottom-color: rgba(255,255,255,0.3);
    border-bottom-style: solid;
    border-bottom-width: 1;
  }
}

.expandToday {
  // .layoutTop { height: 500; }
}

