
<StackLayout class="page">
  <!-- <GridLayout #testRef rows="*, 240" columns="*"> -->
  <!-- <GridLayout rows="auto, *" columns="*" [class.expandToday]="expandToday"> -->
    <!-- <GridLayout rows="auto, auto" columns="*"> -->
  <GridLayout [rows]="rows" columns="*">
    
    <StackLayout row="0" class="layoutTop" [class.expanded]="expandToday">
      <GridLayout rows="*, auto, 24" columns="" >

        <StackLayout row="0">

          <!-- user profile and setting burger menu-->
          <StackLayout class="headingMenu">
            <GridLayout rows="auto" columns="*,auto">
              <Label row="0" text="Hello User" textWrap="true"></Label>
              <Label row="1" class="page-icon fa text-right" text="&#xf0c9;"></Label> 
            </GridLayout>
          </StackLayout>
          
          <!-- today overview -->
          <StackLayout class="todayHead">
            <today-overview></today-overview>
            <today-time-spans></today-time-spans>
          </StackLayout>
  
          <!-- list of today todos -->
          <ScrollView class="listTodayTodos">  
            <StackLayout>
              <StackLayout *ngFor="let item of todayTodos" class="todayItem todoItem" [class.completed]='item.complete'>
                <Label text="[ ] {{ item.title }}" textWrap="true"></Label>
              </StackLayout> 
            </StackLayout>
          </ScrollView>

        </StackLayout>

                  
        <!-- button -->
        <StackLayout row="1">      
          <Button 
            text="START NOW" 
            class="btn btnInfo btnStart" 
            width="200" 
          >
          </Button>
        </StackLayout>
        
        
        
        <!-- 'expander' trigger -->
        <GridLayout row="2" rows="" columns="*,100,*" class="topExpander">
          <StackLayout col="1" class="expanderLabelBtn" (tap)="expandTodayView($event)">
            <Label 
              text="&#xf107;" 
              class="expanderLabel fa arrowExpand"
              [class.expand]="expandToday"
              >
            </Label>
          </StackLayout>
        </GridLayout>

      </GridLayout>
    </StackLayout>
    
    <StackLayout row="1" class="layoutBottom">
      <pending-todos></pending-todos>
      <pending-cats></pending-cats>
    </StackLayout>
    
  </GridLayout>

</StackLayout>

