@import '../../styles/vars';

.page-today {
  background: #fff;
}

.headingMenu {
  padding: $pagePadding;
  margin-bottom: 20;
}

.layoutTop {
  background-color: $themeColor;
  color: #fff;
  margin-bottom: 20;
  &.expanded {
    .listTodayTodos {
      height: auto;
      margin-bottom: 20;
      opacity: 1;
      animation-name: expandTodayTodos;
      animation-duration: $animationSpeed;
      animation-timing-function: ease-out;
    }
  }
}

.layoutBottom {
  background: $lightGrey;
}

.topExpander {
  background: #fff;
  .expanderLabelBtn {
    background: $themeColor;
    text-align: center;
    color: #fff;
    font-size: 24;
  }
}

.btnStart {
  font-size: 24;
  margin-bottom: 30;
}

.listTodayTodos {
  height: 0;
  opacity: 0;
  margin: 10 0 0;
  .todayItem {
    padding: 5 $pagePadding;
  }
}

.expandToday {
  // .layoutTop { height: 500; }
}

@keyframes expandTodayTodos {
  0%   { opacity: 0; height: 0; }
  100% { opacity: 1; height: auto; }
}