.pendingCat {
  width: 120;
  height: 80;
  padding: 10;
  background: #fff;
  border-width: 1;
  border-color: #999;
  font-size: 14;
  margin: 0 10 0 50;
  + .pendingCat {
    margin-left: 0;
  }
  &.isActive {
    border-color: #333;
  }
}