@import '../../../styles/vars';

$tFontSize: 18; 

.todayOverview {
  font-size: $tFontSize;
  padding: 10 $pagePadding 0;
  font-family: "Roboto Condensed, RobotoCondensed-Regular";
}

.statSection {
  text-align: right;
  &.statDate { 
    text-align: left; 
  }
  .total { 
    font-size: $tFontSize + 12; 
  }
  .sectionTitle { 
    font-size: $tFontSize - 4;
    padding-bottom: 2; 
    font-family: "Roboto Condensed, RobotoCondensed-Regular";
  }
}

.statEstimation {
  margin: 0 10;
  padding: 0 10;
  border-right-width: 1;
  border-right-color: rgba(255,255,255,0.5);
}

